html {
    background: #f5f7f8;
    font-family: sans-serif;
    padding: 15px 0px;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

/* card */
.card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* typography */
.card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.card p {
    line-height: 1.4;
    flex: 1;
}

.card span {
    font-size: 12px;
    font-weight: bold;
    color:#999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}

.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

 /* responisve untuk ukuran kecil */
@media only screen and (min-width: 500px) {
    .band {
        grid-template-columns: 1fr 1fr;
    }

    /* untuk membuat elemen .item-1 menjadi besar sendirian di berbagai size secara otomatis */
    .item-1 {
        grid-column: 1 / span 2;
    }
    .item-1 h1 {
        font-size: 30px;
    }
}

 /* responsive ukuran besar */
@media only screen and (min-width: 850px) {
    .band {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}